// Colours
$orange: hsl(31, 77%, 52%);
$blue: hsl(184, 100%, 22%);
$green: hsl(179, 100%, 13%);

$p-color: hsla(0, 0%, 100%, 0.75);
$h-color: hsl(0, 0%, 95%);

// Fonts
$p-font: "Lexend Deca", sans-serif;
$header-font: "Big Shoulders Display", cursive;

// Screen sizes
$mobileW: 767px;
$tabletW: 1123px;
$desktopW: 1124px;

/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
  background-color: $h-color;
}

.card-container {
  width: 70%;
  max-width: 700px;
  margin: 150px auto;
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.car-icon {
  width: 40px;
}

h2 {
  font-family: $header-font;
  color: $h-color;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 20px;
}

p {
  font-family: $p-font;
  color: $p-color;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 50px;
}

button {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: white;
  border: 2px solid $h-color;
  border-radius: 20px;
  color: inherit;
  padding: 10px 10px;
  margin-top: auto;
  width: 110px;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: white;
}

.card-1 {
  color: $orange;
  background-color: $orange;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-2 {
  color: $blue;
  background-color: $blue;
}

.card-3 {
  color: $green;
  background-color: $green;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

// Mobile Version

@media only screen and (max-width: $mobileW) {
  .card-container {
    flex-direction: column;
  }

  .card-1 {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .card-3 {
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

// Info Links

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
